
#footer-wrapper {
    background: #FFFFFF;
    box-shadow: 0 4px 27px rgba(0, 0, 0, 0.25);
}

.footer {
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer-logo {
    margin-right: 102px;
    margin-top: 20px;
    margin-bottom: 46px;
}

.footer-contact {
    display: flex;
    align-items: center;
    margin-right: 98px;
}

.footer-contact__mail {
    display: flex;
    margin-right: 44px;
    align-items: center;
}

.footer-contact__mail__link {
    display: block;
    padding-left: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    align-self: center;
    padding-bottom: 6px;
}

.footer-contact__call {
    display: flex;
    margin-right: 40px;
    align-self: center;
}

.footer-contact__call__link {
    align-items: center;
    padding-left: 4px;
    color: #000000;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: none;

}

.footer-contact__link {
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    text-decoration-line: underline;
    color: #000000;
}

.footer-social {
    display: flex;
    align-items: center;
    margin-right: 386px;
}

.footer-social__instagram {
    padding-right: 7px;
}

.footer-social__telegram {
    align-self: center;
}


@media (max-width: 1200px) {
    #footer-wrapper {
        order: 3;

    }

    .footer {
        display: inline-grid;
        grid-template-columns: 105px 1fr;
        grid-template-rows: repeat(2, 1fr);
        align-items: start;
    }

    .footer-logo {
        grid-area: 1 / 1 / 2 / 2;
        margin: 24px 0 0 35px;
    }

    .footer-contact {
        display: inline-grid;
        grid-area: 1 / 2 / 3 / 3;
        margin-right: 0;
    }

    .footer-contact__mail {
        margin: 29px 0 12px 49px;
    }

    .footer-contact__mail__link {
        font-size: 14px;
        line-height: 19px;
        margin-right: 0;
        padding-left: 8px;
        padding-bottom: 5px;
    }

    .footer-contact__call {
        margin-left: 49px;
        margin-right: 0;
        margin-bottom: 12px;
    }

    .footer-contact__call__link {
        padding-left: 6px;
        font-size: 14px;
        line-height: 19px;
    }

    .footer-contact__link {
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        margin-left: 49px;
    }

    .footer-social {
        margin-left: 40px;
        margin-right: 0;
        margin-top: 12px;
        grid-area: 2 / 1 / 3 / 2;
    }

    .footer-social__instagram {
        padding-right: 4px;
    }
}

