.header-wrapper {
}

.header {
}

.header-logo {
    text-align: center;
    padding-top: 68px;
    padding-bottom: 68px;
}

.header-logo__link {
    align-items: center;
}

.header-social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 68px;
}

.header-social__instagram {
    margin-right: 16px;
}

.header-social__telegram {
    margin-right: 19px;
}

.promotion {

}

.promotion__link {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #000000;
}

@media (max-width: 1200px) {

    .header-social {
        margin-top: 43px;
    }

    .header-logo {
        padding-top: 79px;
        padding-bottom: 48px;
    }
}