* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Inter','Open Sans', sans-serif;

}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;

}



