.banner {
    text-align: center;
    margin-bottom: 96px;
}

.banner__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 63px;
    text-transform: uppercase;
    color: #000000;
}

@media (max-width: 1200px) {

    .banner {
        margin-bottom: 68px;
    }

    .banner__text {
        font-size: 32px;
        line-height: 44px;
        width: 238px;
    }
}