.catalog-wrapper {

    margin-top: 108px;
}
.catalog {
    text-align: center;
    margin-top: 0;
    margin-bottom: 82px;
}

@media (max-width: 1200px) {

    .catalog-wrapper {

        margin-top: 38px;
    }

    #block-catalog {
        order: 2;
    }

    .catalog {
        text-align: center;
        margin-bottom: 62px;
    }

}

