@import "jumbotron.css";
@import "components/components.css";
@import "banner.css";
@import "section.css";
@import "section-reverse.css";
@import "catalog.css";
@import "info.css";

.page-wrapper {

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: #F5F5F5;

    background: url(../../img/background/ladies1.png) 0 108px no-repeat,
    url(../../img/background/ladies2.jpg) 100% 77px no-repeat;;
}

.content {
    margin: 0 auto;
    max-width: 1920px;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

@media (max-width: 1200px) {
    .page-wrapper {
        background: none;
    }
}