.info-wrapper {
}

.info {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 56px;
}

.info-item {
    display: flex;
    align-items: center;
}

.info-exchange {
    margin-right: 68px;
    margin-left: 6px;
}

.info-globe {
    margin-right: 36px;
    margin-left: 14px;
    width: 278px;
}

.info-card {
    margin-right: 38px;
    margin-left: 8px;
    width: 142px;
}

.info-assurance {
    width: 275px;
    margin-right: 388px;
    margin-left: 16px;
}

.info__link {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #414141;
}

@media (max-width: 1200px) {

    #info-wrapper {
        order: 1;
    }

    .info {
        flex-direction: column;
        align-items: start;
        margin-bottom: 0;
        row-gap: 16px;
    }


    .info-item__exchange {
        padding-left: 18px;
    }

    .info-exchange {
        margin-left: 10px;
    }

    .info-item__globe {
        padding-left: 26px;
    }

    .info-globe {
        margin-left: 18px;
    }

    .info-item__card {
        padding-left: 18px;
    }

    .info-card {
        margin-left: 12px;
    }

    .info-item__assurance {
        padding-left: 16px;

    }

    .info-assurance {
        margin-left: 12px;
        margin-right: 0;
    }
}