
.jumbotron {
    background: #FFFFFF;
    box-shadow: 0 4px 27px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 168px;
}

.jumbotron-sale{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    color: #F59BAF;
    margin: 67px 343px 9px 343px;

}

.jumbotron-sale__details {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    color: #666666;
    margin-bottom: 49px;
    width: 760px;
}

.jumbotron-button {
    margin-bottom: 66px;
}

.button__text {
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 26px;
    line-height: 35px;
    color: #313131;
    border: 3px solid #000000;
    padding: 22px 110px;
    cursor: pointer;
}


@media (max-width: 1200px) {

    .jumbotron {
        width: 356px;
        margin-bottom: 82px;
    }

    .jumbotron-sale {
        font-size: 30px;
        line-height: 41px;
        margin: 48px 64px 0 63px;
    }

    .jumbotron-sale__details {
        padding-left: 12px;
        padding-right: 12px;
        font-size: 16px;
        line-height: 22px;
        width: 339px;
    }

    .jumbotron-button {
        margin-bottom: 60px;
    }

    .button__text {
        font-size: 22px;
        line-height: 30px;
        padding: 19px 77px 22px 76px;
    }
}






