.section-reverse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-reverse-left {
    order: 2;
}

.section-reverse-right {
    order: 1;

}


@media (max-width: 1200px) {

    .section-reverse {
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        margin-bottom: 98px;
        margin-top: 50px;
        gap: 0;

    }

    .section-reverse-left {
        order: 1;
        margin: 0 auto;
    }

    .section-reverse-right {
        order: 2;
        margin: 0 auto;
        text-align: center;
    }
}