.section-wrapper {
    margin: 0 auto;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 82px;
}

.section-left {
}

.section-right {
}

.header-text {
    margin-top: 96px;
    width: 557px;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    color: #313131;
    margin-bottom: 14px;
    font-weight: 400;
}

.content-text {
    padding-bottom: 73px;
    width: 375px;
}

.text {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    color: #414141;
}

.content-text__img {
    margin-top: 6px;
    margin-right: 6px;
    vertical-align: bottom;
}

.text__promo {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 5px;
}

.promo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #000000;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {

    .section {
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        margin-bottom: 103px;
        gap: 0;
    }

    .section {
        margin-bottom: 54px;
    }

    .section-left {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

    }

    .section-right {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        width: 296px;

    }

    .header-text {
        text-align: center;
        font-size: 32px;
        line-height: 44px;
        margin-top: 30px;
        margin-bottom: 19px;
        width: 100%;
    }

    .content-text {
        width: auto;

    }

    .text {
        font-size: 18px;
        line-height: 25px;
        padding: 50px 0;
    }

    .promo {
        margin-bottom: 38px;
    }
}





