
.button {
}

.button__text__stand {

    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 26px;
    line-height: 35px;
    color: #313131;
    border: 3px solid #000000;
    cursor: pointer;
    padding: 18px 36px 22px 36px;
    width: 412px;

}

@media (max-width: 1200px) {
    .button__text__stand {
        font-size: 18px;
        line-height: 25px;
        padding: 25px 0;
        width: 296px;
    }

}